* {
	font-size: 20px;
	font-family: JetBrainsMono;
	border: none;
	border-radius: 0;
	min-height:0;
	margin:0px;
}

window#waybar {
	background: rgba(0,0,0,0);
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
	background: #0000ff;
	font-size:20px;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #00ff00;
	background: #ff0000;
}
#custom-block {background: rgba(0,0,0,0);}
#custom-arch {font-size:20px;background: #2e3440; color: #5E79FF}


#workspaces {font-size:20px; background: #123456;}
#pulseaudio,#memory,#cpu,#battery,#disk { background: #2e3440;}

#clock.1,#clock.2,#clock.3 {font-size:16px;}

#tray {background: rgba(0,0,0,0);}

#workspaces button {
	padding: 0 8px;
	color: #fdf6e3;
}
#workspaces button.active {
	color: #C343C7;
}
#workspaces button.urgent {
	color: #ff0000;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}

#network,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 6px;
	font-size: 16px
}
